
$header-height: 5em;

$logo-size: 1.3em;


$icub-main-color:#3192c9;
$icub-secondary-color: coral;


$text-main-color: darkgray;
$text-secondary-color: lightgray;


$icub-headings: 'Poiret One';


$icubworld-transformations:forestgreen;
$icubworld-28: darkviolet;
$icubworld-1: #ff6933;
$icubworld-hello: crimson;


html {
    margin:0;
    height: 100%;
}

body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    overflow-x: hidden;

    height: 100%;
}


a:hover, a:visited, a:focus {
    text-decoration: none;
}

header {


    position: fixed;

    width: 100%;
    z-index: 1000;
    height: $header-height;

    background-color: $icub-main-color;

    color: white;


    padding-left: 1em;
    padding-right: 1em;


    #brand {
        color: inherit;

        display: inline-block;
        height: 100%;


        line-height: $header-height/1.5;
        font-size: 1.5em;

        font-family: $icub-headings;

    }

    #brand:before {
            position: relative;
            content: ' ';
            background-image: url(../assets/icubworld_logo.png);
            background-position: center center;
            background-repeat: no-repeat;
            background-size:contain;

            width: $logo-size;
            height: 100%;
            display: inline-block;
            left: 0;

            vertical-align: top;
    }

    nav {

        float: right;

        a {
            padding-left: 0.4em;
            padding-right: 0.4em;
            display: inline-block;
            height: 100%;

            line-height: $header-height/0.7;
            font-size: 0.7em;

            text-align: center;
            text-transform: uppercase;
            color: inherit;

        }

        a:hover {
            color: $icub-secondary-color;
        }

        a.active {
//            background-color: $icub-secondary-color;
            color: #FFE082; //paper amber 200

        }

        a.active:hover {
//            color:white;

            color: $icub-secondary-color;
        }

        span {
            display: none;
        }


    }

}


header.shadow {

    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}



@media(min-width:380px) {

      header {

        #brand {

            line-height: $header-height/1.8;
            font-size: 1.8em;

        }

        nav {


            a {
                padding-left: 0.5em;
                padding-right: 0.5em;
                line-height: $header-height/0.8;
                font-size:0.8em;
            }
        }



    }

}



@media(min-width:430px) {

      header {


        nav {


            a {

                line-height: $header-height;
                font-size:1em;
            }
        }



    }

}


@media(min-width:620px) {

    header {


        nav {
            span {
                display: inline-block;
            }


            a {

                line-height: $header-height/0.8;
                font-size: 0.8em;

            }
        }

        .fa {
            display: none;
        }



    }

}


@media(min-width:600) {

}


@media(min-width:730px) {

    header {

        #brand {

            line-height: $header-height/2;
            font-size: 2em;
//
        }


        nav {
            span {
                display: inline-block;
            }


            a {
//                padding-left: 1em;
//                padding-right: 1em;
            }
        }

        .fa {
            display: none;
        }

    }

}

@media(min-width:885px) {
header {


        #brand {

            line-height: $header-height/2.5;
            font-size: 2.5em;



        }



        nav {

            a {
                padding-left: 1em;
                padding-right: 1em;

                line-height: $header-height;
                font-size: 1em;
            }

        }


    }

}


main {
    overflow-y: auto;
    height: 100%;
}

section {
    width: 100%;
    min-height: 100%;


    background-color: white;

    margin: 0;

    padding-top: 2*$header-height;
    padding-right: 10%;
    padding-left: 10%;

    text-align: center;

    > * {
        margin-bottom: 0;
    }

    > h1 {
        margin: 0;
        margin-bottom: 1em;
        font-size: 3em;
        text-transform: uppercase;
    }

    > p {
        padding-top: 2em;
        line-height: 2em;
    }



}


#background {

        width: 100%;
        height: 100%;
        position: fixed;
        top:0;
        z-index: -1000;

        background-image: url(../assets/icubworld-landing.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;

        background-attachment: fixed;

        background-color: $icub-main-color;

        background-blend-mode: soft-light;

}


#landing {

    height: 100%;
    padding: 0;

    background: transparent;


    h1 {

        position: relative;
        top: 40%;

        font-family: $icub-headings;

        display: inline-block;

        color: white;
        font-size: 5em;
        vertical-align: middle;

        text-transform: none;
    }
}


@media(min-width:600px) {


    #landing {

        h1 {
            font-size: 8em;
        }
    }

}






//#landing:before {
//    content: '';
//    display: inline-block;
//    height: 100%;
//    width: 0;
//    vertical-align: -2000%;
//
//    border: 1px solid green;
//}


// cards

.row {
    margin-top: 3em;
}


.thumbnail {
    padding:0;
    padding-bottom: 3em;

    position: relative;

}



.image {

    padding-top: 100%;

    background-position: center top;
    background-repeat: no-repeat;
    background-size: contain;

}



.footer {

    position: absolute;
    bottom:0;
    left:0;

    width: 100%;

    padding: 0.5em;
    text-align: left;

    border-top: 1px solid lightgray;

    > * {
        padding-right: 0.5em;
    }

    .open-modal {
        float:right;
    }

}

#about {

    .thumbnail {
        padding:0;
        padding-bottom: 0em;
        position: relative;
        border: none;
        box-shadow: none;
        webkit-box-shadow: none;
    }

    > p {
        padding-top: 1em;
        line-height: 2em;
    }

    .row {
        margin-top: 2em;
    }

}


// logo bar
.logo-bar {
    padding-top:2em;
    padding-bottom:2em;

    .image {
        padding-top: 50%;
    }

    .iit {
        background-image:  url(../assets/logos/iit.png);
    }
    .lcsl {
        background-image:  url(../assets/logos/lcsl_crop_resized.png);
    }
    .unige {
        background-image:  url(../assets/logos/color_unige.png);
    }
    .dibris {
        background-image:  url(../assets/logos/dibris-resized.png);
    }
    .mit {
        background-image:  url(../assets/logos/mit.png);
    }

    .cbmm {
        background-image:  url(../assets/logos/cbmm-resized.png);
    }
}

// Acquisition


#acquisition {

    padding-top: 1em;

    .row {
        padding-top: 0em;
        text-align: left;
    }

    .image {

        padding-top: 85%;

    }

    .acquision-setup {
        background-image: url(../assets/acquisition_setup.jpg);
    }


    .footer {
    position: relative;
    }

    h3 {
            padding-bottom: 1em;
            margin: 0;
        }

}


// Datasets

#datasets {


    .image {
        position: relative;
        background-image: url(../assets/transparent.png);

        transition: width 0.2s ease-in, height 0.2s ease-in, padding-top 0.2s ease-in ;

        padding-top: 40%;

        h3 {
            color: white;
            margin:0;
            text-align: left;
            position: absolute;
            bottom:0;

            padding-bottom: 0.5em;
            padding-left:0.5em;
        }
    }



    .thumbnail {
//
//        transition: width 2s ease-in;

    }

    .thumbnail.icub-modal {

        border: 0;

        .image {

            height: 2*$header-height;


            background-position: center top;
            background-repeat: no-repeat;
            background-size: contain;

        }


    }


    .icubworld-transformations {
        background-color: $icubworld-transformations;
    }

    .icubworld-28 {
        background-color: $icubworld-28;
    }

    .icubworld-1 {
        background-color: $icubworld-1
    }

    .icubworld-hello {
        background-color: $icubworld-hello
    }

    .caption {

        height: 13em;
        overflow: auto;
        text-align: left;

        > div {
            overflow: hidden;
        }

    }

}

@media(min-width:406px) {

    #datasets {

        .image {
            padding-top:15%;
        }

        h3 {
            font-size: 23px;
        }
    }
}

@media(min-width:768px) {

    #datasets {

        .image {
            padding-top: 30%;
        }
    }
}

// code

#code {

    .row {
        padding-top: 0em;
        text-align: left;
    }
}



// publications


#publications {


    .thumbnail {
        text-align: left;

        h4 {
            font-weight: bold;
        }

        .venue {
            color: $text-main-color;
        }
    }

    .col-sm-12:nth-child(even) .thumbnail {
        background-color: #F5F5F5;
    }

    .bibtex-text {
        height: 0;
        overflow: hidden;
        pre {
            margin-bottom: 0;
        }
    }

    .bibtex-text.active {
        margin-top:1em;
        height: auto;
    }

    .bibtex {
        display: inline-block;
    }

}




// people


#people {

    .row {

        padding-bottom: 3em;

    }

    .thumbnail {

        text-align: left;
        padding-bottom: 4.5em;

    }

    .person {
        padding:1em;
        background-color: $icub-main-color;

    }


    img {
        border-radius: 50%;
        display:block;
        margin:auto;
        width: 100%;
        max-width: 200px;
    }



    h4 {
        font-weight: bold;
    }

    .position {

        color: $text-main-color;

    }

    .caption {
        height: 6em;
    }


}

// modals

.modal-title {
    color: white;
}

.modal-content {
    border-radius:0;
}

.modal-header {

    height: $header-height;

}

#icubworld-transformations-modal {

    .modal-header {
        background-color: $icubworld-transformations;
    }

    .icubworldtr {
        background-image: url(../assets/icubworld-transformation-mug-horizontal-flat.jpg);
        padding-top: 49%;
    }

    .icubworldtrobj {
        background-image: url(../assets/icubworld-transformation.jpg);
        padding-top: 62%;
    }

    .row {
        margin-top: 0em;
        padding-bottom: 0px;
    }

    .thumbnail {
        padding-bottom: 0em;
    }

    .table{
        margin-bottom: 0;

    >tbody>tr>td{
        border-top: 0;
        border-bottom: 1px solid #ddd;
        }

    >tbody>tr:last-child>td{
        border-top: 0;
        border-bottom: 1px none #ddd;
        }

    }

    h3 {
    text-align: center;
    }
}

#icubworld-28-modal {

    .modal-header {
        background-color: $icubworld-28;
    }

    .image {
    padding-top: 44%;
    }

    .icubworld28 {
        background-image: url(../assets/icubworld28-transparent-flat.jpg);
    }

    .row {
        margin-top: 0em;
        padding-bottom: 0px;
    }

    .thumbnail {
        padding-bottom: 0em;
    }

    .table{
        margin-bottom: 0;

    >tbody>tr>td{
        border-top: 0;
        border-bottom: 1px solid #ddd;
        }

    >tbody>tr:last-child>td{
        border-top: 0;
        border-bottom: 1px none #ddd;
        }

    }
}

#icubworld-1-modal {

    .modal-header {
        background-color: $icubworld-1
    }

    .image {
    padding-top: 44%;
    }

    .icubworld1 {
        background-image: url(../assets/icubworld-small-transparent-cropped.png);
    }

    .row {
        margin-top: 0em;
        padding-bottom: 0px;
    }

    .thumbnail {
        padding-bottom: 0em;
    }

    .table{
        margin-bottom: 0;

    >tbody>tr>td{
        border-top: 0;
        border-bottom: 1px solid #ddd;
        }

    >tbody>tr:last-child>td{
        border-top: 0;
        border-bottom: 1px none #ddd;
        }

    }

}

#icubworld-hello-modal {

    .modal-header {
        background-color: $icubworld-hello
    }

    .image {
    padding-top: 44%;
    }

    .helloicubworld {
        background-image: url(../assets/hello-icubworld-transparent-cropped.png);
    }

    .row {
        margin-top: 0em;
        padding-bottom: 0px;
    }

    .thumbnail {
        padding-bottom: 0em;
    }

    .table{
        margin-bottom: 0;

    >tbody>tr>td{
        border-top: 0;
        border-bottom: 1px solid #ddd;
        }

    >tbody>tr:last-child>td{
        border-top: 0;
        border-bottom: 1px none #ddd;
        }

    }

}


.final-footer {
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: #E3F2FD;
    font-size: 14px;
}



.overlay {
    top:0;
    left: 0;
    opacity: 0.3;
    transition: opacity 0.2s;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9999;

    display: none;
    background-color: black;
}
